<h2>New Note</h2>
<form action='/notes' method='post'>
  <label>Title <input name='title' placeholder='title'></label>
  <label>Content <input name='content' placeholder='content'></label>
  <input type='submit'>
</form>
